@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";


.montserrat {
  font-family: "Montserrat", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.text-active {
  color: #58abfe;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-weight: 500;
  transition: 0.3s ease;
}

.text-inactive {
  color: gray;
  font-weight: 500;
  transition: 0.3s ease;
}

[data-theme="dark"] .text-inactive {
  color: #ffffff;
}

.text-inactive:hover {
  color: #3996f2;
}

[data-theme="dark"] .card-theme {
  @apply bg-gradient-to-r from-[#1a2434] to-[#223048];
}
